{include file="Basics/header" /}


<body>
    <div class="x-body" id="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  分类名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="username" required="" lay-verify="required"
                  autocomplete="off" :value="cate_info.category_name" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
          </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    排序
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="rake" name="rake" required="" lay-verify="required"
                           autocomplete="off" :value="cate_info.rake" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    是否显示
                </label>
                <div class="layui-input-inline" v-if="cate_info.is_show == 1">
                    <input type="radio" name="is_show" class="checkboxID" value="1" title="显示" checked>
                    <input type="radio" name="is_show" class="checkboxID" value="2" title="隐藏">
                </div>
                <div class="layui-input-inline" v-else>
                    <input type="radio" name="is_show" class="checkboxID" value="1" title="显示">
                    <input type="radio" name="is_show" class="checkboxID" value="2" title="隐藏" checked>

                </div>
            </div>
          <div class="layui-form-item">
              <label  class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  修改
              </button>
          </div>
      </form>
    </div>
    <script>

    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>