{include file="Basics/header" /}


<body>
    <div class="x-body" id="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  分类名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="username" name="username" required="" lay-verify="required"
                  autocomplete="off" :value="cate_info.category_name" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
          </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    排序
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="rake" name="rake" required="" lay-verify="required"
                           autocomplete="off" :value="cate_info.rake" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    是否显示
                </label>
                <div class="layui-input-inline" v-if="cate_info.is_show == 1">
                    <input type="radio" name="is_show" class="checkboxID" value="1" title="显示" checked>
                    <input type="radio" name="is_show" class="checkboxID" value="2" title="隐藏">
                </div>
                <div class="layui-input-inline" v-else>
                    <input type="radio" name="is_show" class="checkboxID" value="1" title="显示">
                    <input type="radio" name="is_show" class="checkboxID" value="2" title="隐藏" checked>

                </div>
            </div>
          <div class="layui-form-item">
              <label  class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  修改
              </button>
          </div>
      </form>
    </div>
    <script>
        var thisURL = document.URL;
        var getval =thisURL.split('?')[1];
        var id= getval.split("=")[1];

        var vm = new Vue({
            el:"#x-body",
            data: {
                cate_info:[]
            },
            created: function () {
                // `this` 指向 vm 实例
                this.getList();
            },
            methods:{
                getList:function() {

                    var url = 'http://tptest5.com/public/index.php/admin/Category/get_edit?id='+id;
                    this.$http.get(url).then(function(res){
                        this.cate_info = res.body.data;
                        console.log(res.body.data);
                    },function(){
                        console.log('请求失败处理');
                    });
                }
            }
        })

        layui.use(['form','layer','common','table'], function(){
            $ = layui.jquery;
            var form = layui.form
                ,layer = layui.layer;
            var common = layui.common;
            form.verify({
                cate_rake: [
                    /^[0-9]+$/
                    ,'排序必需是数字'
                ]
            });


            //监听提交
            form.on('submit(add)', function(data){
                console.log(data);

                //发异步，把数据提交给php
                var is_show = 2;
                var check = document.getElementsByClassName("checkboxID").checked;
                if(check == true) {
                    is_show = 1;
                } else {
                    is_show = 2;
                }

                var url = 'http://tptest5.com/public/index.php/admin/Category/edit';
                common.ajax(url, 'POST', 'json', {
                    id:id,
                    cate_name : data.field.username,
                    cate_rake : data.field.rake,
                    is_show : is_show
                }, function (res) {

                    if(res.code == 0) {
                        layer.alert(res.message, {
                            skin: 'layui-layer-molv' //样式类名  自定义样式
                            , closeBtn: 1    // 是否显示关闭按钮
                            , anim: 1 //动画类型
                            , btn: ['确定'] //按钮
                            , icon: 6    // icon
                            , yes: function () {
                                parent.window.location.href="cate-list.html";
                            },end:function(){

                            }
                        });
                    } else {
                        layer.alert(res.message, {icon: 5});
                    }

                });


                return false;
            });

        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>